<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Wowhead tooltip script -->
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/search.js')}}"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
       
    <title>Lootadmin</title>
</head>

<body>

    <h1 class="display-4" style="text-align:center;">Loot table</h1><br><br>
    

<div class="table-with-bar">

    <div class="input-group mb-3">
        <input id="search" type="text" class="form-control" placeholder="Search">
        <button class="btn-append" onclick="window.location.href='/append'">Append data to this table</button>
        <button class="btn-share">Share this table</button>
    </div>

    <div class="loot-table">
        <table id="table" class="table table-dark table-striped table-hover table-bordered">
    
            <thead>
                <tr class="table-active">
                <th scope="col"> CHARACTER</th>
                {% for date in dates %}
                <th scope="col"> {{date}}</th>
                {% endfor %}
                </tr>
            </thead>
    
                <tbody>
                    {% for i in range (len) %}
                    <tr>
                    <td scope="row"> {{characters[i][0]}} </td>
                    {% for j in range(datelen) %}
                    <td>
                    {% for k in range(characters[i][j+1]|length) %}
                    <a href="https://tbc.wowhead.com/item={{characters[i][j+1][k]}}" data-wowhead="item={{characters[i][j+1][k]}}">
                    </a> 
                    <br>
                        
                    {% endfor %}
                    </td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
</body>
</html>
