<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Wowhead tooltip script -->
        <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
        <script src="https://wow.zamimg.com/widgets/power.js"></script>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

       

       <title>Lootadmin</title>
    </head>
    <body>

        <h1 class="display-4" style="text-align:center;">Loot table</h1><br><br>

        <div id="update">
            <table class="table table-bordered">

                <thead>
                    <tr class="table-active">
                        <th scope="col"> CHARACTER</th>
                        
                        {% for date in dates %}
                        <th scope="col"> {{date}}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for i in range (len) %}
                    <tr>
                        <th scope="row"> {{characters[i][0]}} </th>
                        
                        
                        {% for j in range(datelen) %}
                        <td>
                        
                            

                            {% for k in range(2) %}

                            
 
                            <a href="https://tbc.wowhead.com/item={{characters[i][j+1][k]}}" data-wowhead="item={{characters[i][j+1][k]}}">
                                <br>
                            

                            
             
                                {% endfor %}
                            </td>
                                
                        
                    {% endfor %}
                        
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </body>
</html>
