<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Wowhead tooltip script -->
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

    <!-- jQuery hosted by Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            var $rows = $('#table tbody tr');
            $('#search').keyup(function() {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
                $rows.show().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });
        });
    </script>

    <title>Lootadmin</title>
</head>

<body>

    <h1 class="display-4" style="text-align:center;">Loot table</h1><br><br>


    <div class="table-with-bar">
    
        <div class="input-group mb-3">
            <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
    
        <div class="loot-table">
            <table id="table" class="table table-dark table-striped table-hover table-bordered">
        
                <thead>
                    <tr class="table-active">
                    <th scope="col"> CHARACTER</th>
                    {% for date in dates %}
                    <th scope="col"> {{date}}</th>
                    {% endfor %}
                    </tr>
                </thead>
        
                    <tbody>
                        {% for i in range (len) %}
                        <tr>
                        <td scope="row"> {{characters[i][0]}} </td>
                        {% for j in range(datelen) %}
                        <td>
                        {% for k in range(characters[i][j+1]|length) %}
                        <a href="https://tbc.wowhead.com/item={{characters[i][j+1][k]}}" data-wowhead="item={{characters[i][j+1][k]}}">
                        </a> 
                        <br>
                            
                        {% endfor %}
                        </td>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</body>
</html>
