<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Wowhead tooltip script -->
        <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
        <script src="https://wow.zamimg.com/widgets/power.js"></script>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

       <title>Lootadmin</title>
    </head>
    
    <body>
        <div class="tables">
        
       <h1>You have {{tables|length}} tables</h1>
       
       {% for i in range(tables|length) %}
       <form method="POST" action="{{ url_for('loot') }}">
        <input type="hidden" name="table" value="{{tables[i]}}">
         <button type="submit" name="table" value="{{i}}" class="btn-linkbutton">
           {{i+1}}
         </button>
       </form>
       {% endfor %}
    

       
       <form method="POST"> <input class="btn-createtable" type="submit" value="Create new table"></form>
       
        </div>

    </body>
</html>
